doctype html 
html
  head
    title S-Dance Academy  
    block scripts
    block style
  body
    nav#navbar 
            ul 
                div#logo
                    img(src="/static/logo5.png")
                    |SDA
                li #[a(href="/") HOME]
                li #[a(href="/") CLASSES] 
                li #[a(href="/") ABOUT] 
                li #[a(href="/") SERVICES] 
                li #[a(href="/contact") CONTACT US]
    block content
    footer#footer 
            | copyright © 2019 S-dance acadmy.com